@import "../../colors";
@import "../../frameless";

.list-item-div {
  cursor: pointer;
}

// 高度为0，使用padding-bottom，做到宽高比例为4:3
.list-item-imgdiv {
  width: 100%;
  height: 0;
  padding-bottom: 74.4%;
  border:1px dotted;
}

.list-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  overflow: hidden;/*超出部分隐藏*/
  white-space: nowrap;/*不换行*/
  text-overflow:ellipsis;/*超出部分文字以...显示*/
}

.list-item-author {
  font-size: 1rem;
  width: 100%;
  overflow: hidden;/*超出部分隐藏*/
  white-space: nowrap;/*不换行*/
  text-overflow:ellipsis;/*超出部分文字以...显示*/
}
.list-item-modified {
  font-size: 0.8rem;
  width: 100%;
  overflow: hidden;/*超出部分隐藏*/
  white-space: nowrap;/*不换行*/
  text-overflow:ellipsis;/*超出部分文字以...显示*/
}

.goLearning{
  width: 60px;
  /* height: 15px; */
  /* background: #31BAFB; */
  position: fixed;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  animation:mymove 1.5s infinite;
  animation-direction:alternate;
  animation-timing-function: ease-in;
  -webkit-animation:mymove 1.5s infinite; /*Safari and Chrome*/
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function: ease-in;
  z-index: 100;
}
.goLearning img{width: 100%;}
@keyframes mymove
{
0% {transform:rotate(-30deg);
-ms-transform:rotate(-30deg); /* IE 9 */
-webkit-transform:rotate(-30deg); /* Safari and Chrome */}

100% {transform:rotate(30deg);
-ms-transform:rotate(30deg); /* IE 9 */
-webkit-transform:rotate(30deg); /* Safari and Chrome */}
}